@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #ffffff;
  color: black;
  width: 80%;
  display: block;
  margin: auto;
  /* margin-bottom: 80px; */
}

main {
  margin-top: 2em;
}

img {
  width: 45%;
  height: 45%;
  display: block;
  margin: auto;
}

img:hover {
  opacity: 0.5;
}

h1 {
  font-size: 2.5em;
  color: #ed5d53;
  margin: 0;
  padding: 0;
  padding-top: 30px;
  padding-bottom: 10px;
}

h2 {
  font-size: 1.5em;
  color: #ed5d53;
  padding-bottom: 10px;
}

h3 {
  font-weight: 400;
  font-size: 1em;
  line-height: 1.5em;
  padding-bottom: 15px;
  border-bottom: 2px solid #ed5d53;
}

p {
  line-height: 1.4em;
  font-size: 0.8em;
  padding-bottom: 20px;
  display: block;
  margin: auto;
}

#bottleOverlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: auto;
  background-color: #ffe1d8;
  color: black;
  display: none;
  padding: 1.5em;
}

#bottleClose {
  position: absolute;
  top: -1em;
  right: -0.5em;
  color: #ed5d53;
  font-size: 2em;
}

#computerOverlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: auto;
  background-color: #ffe1d8;
  color: black;
  display: none;
  padding: 1.5em;
}

#computerClose {
  position: absolute;
  top: -1em;
  right: -0.5em;
  color: #ed5d53;
  font-size: 2em;
}

#mouseOverlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: auto;
  background-color: #ffe1d8;
  color: black;
  display: none;
  padding: 1.5em;
}

#mouseClose {
  position: absolute;
  top: -1em;
  right: -0.5em;
  color: #ed5d53;
  font-size: 2em;
}

/******************* footer *******************/

footer {
  font-size: 12px;
  bottom: 0;
  clear: both;
  width: 100%;
  text-align: center;
  padding-bottom: 15px;
  padding-top: 15px;
  position: fixed;
  color: #ed5d53;
  margin-top: 20px;
}

footer a {
  font-size: 14px;
  color: #ed5d53;
  text-decoration: none;
  padding: 10px;
}

footer a:hover {
  color: gold;
}

footer.development {
  clear: both;
  position: fixed;
}

/******************* Media Query *******************/
@media only screen and (min-width: 769px) {

  body {
    width: 70%;
  }

  main {
    width:70%;
    margin-top: 3em;
    display: flex;
    flex: 1;
    padding: 10px;
  }

}
