* {
   box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family:Helvetica;
  font-size:100%;
  overflow:hidden;
}

/* new css */

/* Display the page when targeted */
.page:target {
  display: block;
}

nav {
  position:fixed;
  top:0px;
  right:15px;
  font-size: 1em;
  text-align: right;
}

li {
  list-style-type:none;
}

a {
  /* width:1in; */
  padding:16px;
  margin-bottom:4px;
  color:#333;
  text-decoration: none;
  display:inline-block;
}

a:hover {
  background-color:grey;
}
.page {
  /* setting height 100% for html, body, and for all pages makes each page full viewport */
  height: 100%;
  /* text-align: center; */
  color:#333;
  display:none;
  /* background-color: #87cac5; */
}

h1 {
  font-size: 35vmin;
  margin: 0;
  padding-top: 100px;
}

h2 {
  font-size: 4em;
  margin: 0;
}

#home {
  text-align: center;
}

#aboutwrapper {
text-align: center;
width: 500px;
display: block;
margin: auto;
padding-top: 100px;
}

#about>p {
  text-align: justify;
}

#about>h2 {
  margin: 15px 0 0 15px;
}

#formwrapper {
  width: 600px;
  float: right;
  margin-right:15%;
}

/****** Footer ******/
footer {
  font-size: 12px;
  bottom: 0;
  clear: both;
  width: 100%;
  padding-bottom: 10px;
  padding-top: 15px;
  padding-left: 15px;
  position: fixed;
}

footer a {
  font-size: 1.4em;
  text-decoration: none;
  padding: 10px;
}

footer a:hover {
  color: gold;
}
