@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500');
@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #ffffff;
  color: black;
  /* width: 800px; */
  margin: auto;
  margin-bottom: 80px;
}

/******************* header *******************/

#mySketch {
  margin: auto;
  width: 800px;
  height: 250px;
  background-color: #143756;
}

header {
  width: 800px;
  display: block;
  margin: auto;

}

header>h1 {
  /* width: 800px; */
  font-size: 250%;
  font-weight: 500;
  position: relative;
  border-bottom: 2px solid gold;
}

/******************* main content *******************/

main {
  width: 800px;
  display: block;
  margin: auto;
  display: flex;
  flex: 1;
  justify-content: space-between;
}

h2 {
  font-size: 20px;
  font-weight: 500;
}

h3 {
  font-size: 16px;
  font-weight: 500;
  padding-top: 10px;
}

p {
  width: 700px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  padding: 15px 0 10px 0;
  line-height: 20px;
  display: block;
  margin: auto;
  color: black;

}

li {
  font-size: 16px;
  font-weight: 400;
}

ul li {
  list-style-type: none;
  padding-top: 10px;
  line-height: 20px;
  padding-bottom: 1em;
}

ol li {
  list-style-type: none;
  padding-top: 10px;
  line-height: 20px;
  padding-bottom: 1em;
}

li a {
  text-decoration: none;
  position: absolute;
  color: #000000;
}

li a:hover {
  color: #003663;
  text-decoration: underline;
}

#sources {
  width: 700px;
  margin: auto;
}

#sources a {
  display: block;
}

#wrapper {
  width: 800px;
  display: block;
  margin: auto;
}
/******************* images *******************/
img {
  display: block;
  margin: auto;
  /* padding: 30px 0 30px 0; */
}



/******************* footer *******************/
footer{
font-size: 12px;
 background-color: #143756;
 bottom: 0;
 clear: both;
 width: 100%;
 text-align: center;
 padding-bottom: 15px;
 padding-top: 15px;
 position: fixed;
 color: white;
}

footer a {
  font-size: 14px;
  color: white;
  text-decoration: none;
  padding: 10px;
}

footer a:hover {
  color: gold;
}

footer.development {
  clear: both;
  position: fixed;
}
